asgiref
Django
gunicorn
psycopg2
sqlparse
whitenoise
pandas
djangorestframework
django-cors-headers
django-adminlte-3
django-ckeditor
django-sitemaps
django-jazzmin
django_celery_beat
celery
redis
requests