.free-guide__popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: white;
    z-index: 99999999;
    display: none;
    justify-content: center;
    align-items: center;
    overflow: auto;
  }
  
  .free-guide__popup.active {
    display: flex;
  }
  
  .free-guide__popup-content {
    max-width: 1320px;
    height: 100%;
    padding-top: 113px;
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .free-guide__popup-content .subtitle {
    color: #18191C;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 24px;
  }
  
  .free-guide__popup-content .title {
    color: #18191C;
    text-align: center;
    font-family: Inter;
    font-size: 124px;
    font-style: normal;
    font-weight: 600;
    line-height: 124px;
    letter-spacing: -2.48px;
    margin-bottom: 24px;
  }
  
  .free-guide__popup-content .signup-title {
    color: #2F3338;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -0.8px;
    margin-bottom: 24px;
  }
  
  .free-guide__popup-content .form-box__wrap {
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
  }
  
  .free-guide__popup-content .form-box__wrap .title {
    color: #18191C;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.72px;
    margin-bottom: 24px;
    text-align: left;
  }
  
  .free-guide__popup-content .form-box__wrap .title span {
    color: #0A65CC;
    text-decoration-line: underline;
  }
  
  .free-guide__popup-content .form-box__wrap .form-group {
    margin-bottom: 16px;
  }
  
  .free-guide__popup-content .form-box__wrap input {
    border-radius: 9px;
    border: 1.5px solid #E4E5E8;
    background: #FFF;
    box-shadow: 0px 1.5px 6px 0px rgba(24, 25, 28, 0.05);
    padding: 15px 24px;
    color: #5E6670;
    display: block;
    height: 66px;
    width: 100%;
    min-width: 466px;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
  }
  
  .free-guide__popup-content .form-box__wrap input::placeholder {
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
  }
  
  .free-guide__popup-content .form-box__wrap input:focus,
  .free-guide__popup-content .form-box__wrap input:hover {
    background: rgb(228, 229, 232, 0.2);
    color: black;
    border-color: black;
  }
  
  .free-guide__popup-content .form-box__wrap .form-btn {
    margin-top: 8px;
    border-radius: 8px;
    background: #0A65CC;
    display: inline-flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    padding: 14px 24px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    text-transform: capitalize;
    border: none;
  }
  
  .close {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
    display: inlien-flex;
    justify-content: center;
    align-items: center;
  }
  
  @media (max-width: 1024px) {
    .free-guide__popup {
      height: 100vh;
      overflow: hidden;
    }
  
    .free-guide__popup-content .subtitle {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 16px;
    }
  
    .free-guide__popup-content .title {
      font-size: 64px;
      line-height: 64px;
      margin-bottom: 16px;
    }
  
    .free-guide__popup-content .signup-title,
    .free-guide__popup-content .form-box__wrap .title {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 16px;
    }
  
    .free-guide__popup-content .form-box__wrap {
      flex-direction: column-reverse;
      align-items: start;
    }
  
    .free-guide__popup-content .form-box__wrap div {
      width: 100%;
    }
  
    .free-guide__popup-content {
      padding-top: 60px;
      padding-bottom: 0px;
    }
  
    .free-guide__popup-content .form-box__wrap input {
      height: 52px;
      font-size: 18px;
      line-height: 24px;
      display: block;
      max-width: 100%;
      min-width: 100%;
    }
  }
  